/* ------------------------ BASE STYLES ------------------------ */

ul {
    list-style: none;
}

body {
    padding-left: 90px;
    padding-right: 90px;
}


/* ------------------------ HEADER STYLES ------------------------ */

.header {
    padding-top: 46px;
    padding-bottom: 46px;
}


/* ------------------------ HERO STYLES ------------------------ */
/* ------------------------ WORK STYLES ------------------------ */
/* ------------------------ EXAMPLE STYLES ------------------------ */
/* ------------------------ REVIEWS STYLES ------------------------ */
/* ------------------------ RECENT STYLES ------------------------ */
/* ------------------------ JOIN STYLES ------------------------ */
/* ------------------------ FOOTER STYLES ------------------------ */
/* ------------------------ COPYRIGHT STYLES ------------------------ */
